extends layout

block content
    
    .row.justify-content-center
        .col-sm-6
            legend Purchase Pet #{pet.name}
            form(action="/pets/" + pet.id + "purchase", method="POST")
                .form-group
                    label Full Name
                    input.form-control(name="name" placeholder="i.e. Joe Smith") 
                .form-group
                    label Card Number
                    input.form-control(name="card" placeholder="XXXXXXXXXXXXXXXX")
                .form-group
                    label Expiration
                    input.form-control(name="expiration" placeholder="MM-YYYY")    
                .form-group
                    label CVV
                    input.form-control(name="cvv" placeholder="XXX")
                button(type="submit").btn.btn-primary Submit
